
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SSl</title>
    <link rel="stylesheet" href="ssl.css">
  </head>
  <body>
    <div class="overlay"></div>
    <header class="mainHeader">
    
      <nav style="text-align:center">
        <h1>SSL Report</h1>
      </nav>
    </header>
    
    <div class="mainContent">
    
      <div class="content">
        <article class="topcontent">
          <header>
            <h2><a href="#">Remark 1</a></h2>
          </header>
    
          <footer>
            <h3>Validity</h3>
          </footer>
         
    
          <content>
            <h2><%=Correct%></h2>
          </content>
    
        </article>
    
        <article class="bottomcontent">
          <header>
            <h2><a href="#">Remark 2</a></h2>
          </header>
    
    
          <footer>
            <b>About Expiry</b>
          </footer>
    
          <content>
            <h3><%=Expiry%></h3>
          </content>
    
        </article>
        <!-- <form action="/cookie" method="post">
          <button>Get Cookie Report</button>
        </form>
   
    <button>Get ADA compliance Report</button> -->
      </div>
      
    </div>
    
    <aside class="top-sidebar">
      <article>
        <h2>Issued By</h2>
        <p><%=Issuer%></p>
      </article>
    </aside>
    
    
    <aside class="middle-sidebar">
    
      <article>
        <h2>Expiry Date</h2>
        <p><%=Day%>/<%=Month%>/<%=Year%></p>
      </article>
    </aside>
    
    
    <!-- <aside class="bottom-sidebar">
      <article>
        <h2>Protocol</h2>
        <p><%=Pro%></p>
      </article>
    </aside>
     -->
    
    <footer class="mainFooter">
      <p>
      </p>
    </footer>
	<script src="index.js"></script>
  </body>
</html>